<template name="aboutUs">
  <div class="container static-content">
      <div class="row container-sm">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget auctor lacus. Cras suscipit congue dolor a aliquam. In et lacus vitae nunc ullamcorper lobortis in iaculis purus. Proin a dictum enim, sit amet tempus magna. Praesent molestie elementum urna eget fermentum. Fusce risus urna, vehicula in mollis hendrerit, consectetur ac enim. Praesent eget turpis cursus purus ornare faucibus et vel turpis. Morbi vehicula orci vitae gravida viverra. Aenean sed dolor mattis, elementum velit et, sodales tortor.</p>
        <p>We are located in New York City, and all products are proudly Made in the U.S.A.</p>
      </div>
  </div>
</template>
